body{
    font-family: 'Titillium Web', sans-serif;
}

h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}
p{
    font-size: 18px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}
.topmargin-xs{
    margin-top: 15px;
}
.topmargin-sm{
    margin-top: 30px;
}
.topmargin-lg{
    margin-top: 60px;
}
.btn{
    font-size: 15px;
    padding: 14px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}
.btn-light{
    background-color: white;
    color: black;
    border: 2px solid #ffffff;
}
.btn ion-icon{
    font-size: 14px;
    margin-left: 5px;
}
.navbar{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link{
 color: #1a1a1a ;
 font-weight: 600;
}

.nav-link:hover{
    color: green ;
   }

.logo-brand{
    min-width: 140px;
    max-height: 70px;
}

.navbar-toggler{
    font-size: 30px;
}

.navbar-toggler:focus{
    outline: none;
}

#hero{
    background-image: url('images/hero9.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: white;
}

#hero p{
    color: white;
}
.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}
ion-icon {
    --ionicon-stroke-width: 56px;
}
