body{
    font-family: 'Titillium Web', sans-serif;
}

.navbar{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link{
 color: #1a1a1a ;
 font-weight: 600;
}

.nav-link:hover{
    color: green ;
   }

.logo-brand{
    min-width: 140px;
    max-height: 70px;
}

.navbar-toggler{
    font-size: 30px;
}

.navbar-toggler:focus{
    outline: none;
}

#hero{
    background-image: url('images/hero3.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: white;
}