body{
    font-family: 'Titillium Web', sans-serif;
}

.navbar{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link{
 color: #1a1a1a ;
}

.nav-link:hover{
    color: green ;
   }

.logo-brand{
    width: 140px;
    height: 70px;
}